<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yt.permission.entity.RMA">

    <insert id="insert" parameterType="RMA">
        INSERT INTO p_rma(role_id,module_id,action_id)
        VALUES (#{roleId},#{moduleId},#{actionId})
    </insert>

    <delete id="delete" parameterType="RMA">
        DELETE FROM p_rma WHERE  role_id = #{roleId} AND module_id = #{moduleId} AND action_id = #{actionId}
    </delete>

    <select id="findRmaByRoleId" parameterType="String" resultType="RMA">
        select * from p_rma where role_id = #{roleId}
    </select>

</mapper>